*{
    box-sizing: border-box;

    &:before, &:after{
        box-sizing: border-box;
    }

		@include first-last-margin-disable;
}

html{
  font-size: 16px;
  background: $background-color;
}

body{
  background: $background-color;
	font-family: $font-family;
  font-size: rem(16);
	color: $text-color;
	overflow: hidden;
}

img{
	max-width: 100%;
	height: auto;
}

#site-header{
  position: relative;
  z-index: 2;
}

#site-content{
  position: relative;
  z-index: 1;
	height: 100vh;
	overflow: hidden;
	overflow-y: auto;
	padding-top: rem(70);
}

.site-wrapper{
	max-width: rem(1280);
	@include margin(null auto null auto);
	@include padding(null $base-gap null $base-gap);
}

a{
	text-decoration: none;
	outline: 0;
	color: currentColor;
}

#{$all-headers}{
	color: $brand-color;
}

#{$all-buttons}, .button {
  background-color: $brand-color;
  color: $foreground-color;
  border: rem(3) solid $brand-color;
  @include align-items(center);
  @include display(inline-flex);
  @include justify-content(center);
  @include transition(color .3s ease, border .3s ease);
  @include appearance(none);
	text-transform: uppercase;
	font-weight: 700;
	user-select: none;

  &:hover{
    color: $foreground-color;
    border-color: $foreground-color;
    cursor: pointer;
  }
}

.site-brand{
	@include margin($base-gap auto $base-gap auto);
	width: rem(200);
}

.search-box{
		@include background-gradient;
		image-rendering: optimizeQuality;
    @include display(flex);
    @include align-items(center);
    @include justify-content(center);
    @include transition(transform .5s cubic-bezier(0.445, 0.050, 0.550, 0.950));
    height: 100vh;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    &.closed{
      @include transform(translateY(-100%));

			.search-form{
				@include transform(scale(0));
			}
    }

    &:not(.closed){
      @include transform(translateY(0));

			.search-form{
				@include transform(scale(1));
			}
    }

		& > div{
			width: 100%;
			max-width: rem(1000);
			padding: rem(20);
		}

		.search-form{
			@include transition(transform .5s cubic-bezier(0.445, 0.050, 0.550, 0.950));
		}
}

.search-form{
	@include margin($base-gap auto $base-gap auto);
	position: relative;

  [type="search"], [type="submit"]{
    height: 4rem;
		padding: rem(20);
  }

  label{
    display: none;
  }

	[type="search"]{
		display: block;
		width: 100%;
		padding-right: calc(30% + 1.25rem);
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}

	[type="submit"]{
		position: absolute;
		right: 0;
		top: 0;
		width: 30%;
	}
}

.search-trigger{
	height: rem(10);
	box-shadow: 0 rem(2) rem(5) rgba(0, 0, 0, 0.4);
	background: $foreground-color;
	position: absolute;
	top: 100%;
	left: 0;
	right: 0;
	font-size: 0;

	&:after{
		content: '';
		display: block;
		width:  rem(50);
		height: rem(50);
		border: rem(50) solid transparent;
		border-top-color: $foreground-color;
	}
}

.spinner {
    width: rem(80);
    height: rem(80);
    position: relative;
}

.double-bounce1, .double-bounce2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: $brand-color;
    opacity: .6;
    position: absolute;
    top: 0;
    left: 0;
    @include animation(bounce 2s infinite ease-in-out);
}

.double-bounce2 {
    @include animation-delay(-1s);
}

.loader{
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  @include display(flex);
  @include align-items(center);
  @include justify-content(center);
  @include transition(opacity 1s ease, visibility 1s);
  background: $background-color;

  &.visible{
    opacity: 1;
    visibility: visible;
		pointer-events: all;
  }

  &:not(.visible){
    opacity: 0;
    visibility: visible;
		pointer-events: none;
  }
}

.results-list{
	ul{
		padding: 0;
		margin: 0;
		list-style: none;
	}

	li:not(:last-child){
		margin-bottom: $base-gap;
	}
}

.results-item{
	background: $card-color;
	box-shadow: 0 rem(2) rem(5) rgba(0, 0, 0, .1);
	@include transition(box-shadow .3s ease);
	@include clearfix;

	&:hover{
		box-shadow: 0 rem(2) rem(5) rgba(0, 0, 0, .4);
	}
}

.results-item-content{
	position: relative;
	padding: rem(20);
}

.results-item-poster{
	position: relative;
	overflow: hidden;

	&:before{
		content: '';
		display: block;
		padding-top: 150%;
		background: url('../assets/images/logo.png') 50% 50% no-repeat, $foreground-color;
		background-size: 50%;
	}

	img{
		display: block;
		position: absolute;;
		top: 0;
		left: 0;
		width: 100%;
	}
}

.results-item-header{
	@include background-gradient;
	color: #fff;
	padding: rem(20);
	@include clearfix;
	position: relative;
	@include margin((-$base-gap) (-$base-gap) $base-gap (-$base-gap));

	h3{
		color: darken($brand-color, 20%);
	}
}

.results-item-meta{
	font-size: rem(13);
	@include display(flex);
	@include align-items(center);

	.results-item-rating{
		margin-bottom: rem(6);
	}
}

.results-item-footer{
	height: rem(50);
	border-top: 2px solid $background-color;
	font-weight: 600;
	@include display(flex);
	@include align-items(center);
	@include justify-content(flex-start);
	padding: rem(20);
}

.results-nothing{
  font-weight: 700;
  font-size: 7vw;
  text-align: center;
  height: calc(100vh - 4.375rem);
  @include display(flex);
	@include align-items(center);
	@include justify-content(center);
}

.pagination{
	@include padding(rem(30) null rem(30) null);
	text-align: center;

	a{
		min-width: rem(40);
		height: rem(40);
		margin: rem(5);

		&:hover{
			color: $foreground-color;
			border-color: $foreground-color;
			cursor: pointer;
		}
	}
}

.info{
	background: $card-color;
	@include clearfix;
	padding: rem(20);
	box-shadow: 0 rem(2) rem(5) rgba(0, 0, 0, .1);
}

.info-poster{
	position: relative;

	&:before{
		content: '';
		display: block;
		padding-top: 150%;
		background: $foreground-color;
	}

	img{
		display: block;
		position: absolute;;
		top: 0;
		left: 0;
		width: 100%;
	}
}

.info-header{
	@include background-gradient;
	color: #fff;
	padding: rem(20);
	@include clearfix;
	position: relative;

	h1{
		color: $brand-color;
		font-size: rem(40);
		margin-bottom: rem(15);
	}
}

.info-content{
	padding-bottom: rem(20);
}

.info-overview{
	font-size: rem(22);
	font-weight: 300;
}

.info-cast{
	padding: rem(20);
	clear: both;
	@include background-gradient;
	@include margin(null rem(-20) rem(-20) rem(-20));
	color: #fff;

	ul{
		padding: 0;
		margin: 0;
		list-style: none;
		@include display(flex);
		@include justify-content(center);
		@include flex-wrap(wrap);
	}
}

.cast-member{
	width: 10%;
	text-align: center;
	padding: rem(5);
}

.cast-member-name{
	display: block;
	font-weight: 600;
	font-size: rem(12);
	margin-top: rem(20);
}

.cast-member-photo{
	display: block;
	position: relative;
	border: rem(3) solid $background-color;

	&:before{
		content: '';
		display: block;
		padding-top: 100%;
		background: $foreground-color;
	}

	img{
		display: block;
		position: absolute;;
		top: 0;
		left: 0;
		width: 100%;
	}
}
