$font-family: 'Source Sans Pro', sans-serif;

$background-color: #f4f4f4;
$foreground-color: #081c24;
$brand-color: #00d373;
$card-color: #fff;

$text-color: #4d4d4d;

$all-headers: h1, h2, h3, h4, h5, h6;

$base-gap: rem(20);
