<div class="info movie-info">
  <article>
    <div class="info-poster">
      <%poster%>
    </div>
    <div class="info-content">
      <header class="info-header">
        <div class="info-title">
          <h1><%title%></h1>
        </div>
        <div class="info-meta">
          <div class="info-meta-year">
            First air year: <span><%year%></span>
          </div>
          <div class="info-meta-year">
            Genres: <span><%genres%></span>
          </div>
        </div>
      </header>
      <div class="info-overview">
        <p>
          <%overview%>
        </p>
      </div>
    </div>
    <div class="info-cast">
      <h2>Cast</h2>
      <ul>
          <%cast%>
      </ul>
    </div>
    <div class="info-cast">
      <h2>Crew</h2>
      <ul>
          <%credits%>
      </ul>
    </div>
  </article>
</div>
